.tab-component {

    ul {
        padding-left: 0;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        display: flex;

        li {
            list-style: none;
            margin-right: 8px;
            cursor: pointer;
            padding: 8px;
            color: $color-grey;
            font-size: $font-18;
            font-weight: $font-bold;

            &:hover {
                border-bottom: 3px solid $color-primary;
            }

            @media screen and (min-width: ($mobile-device+1)) and (max-width: $tablet-device) {

                font-size: $font-14;
            }
        }
    }

    .latest,
    .most-read,
    .discussed {
        @media screen and (max-width: $mobile-device) {
            margin-top: -10px;
        }
    }

    .tab-border {
        border-bottom: 3px solid $color-primary;
        background-color: $color-lighter;
    }
}