/* Variables for colors */
$color-red: #d60000;
$color-yellow: #ffb300;
$color-white: #ffffff;

/* Variables for font size */
$font-18: 18px;
$font-27: 27px;
$font-paragraph: 16px;

/* Variables for breakpoints */
$mobile-device: 576px;
$tablet-device: 991px