.news-detail {

    img {
        width: 100%;
        object-fit: cover;
    }

    .description {
        padding: 10px 70px 70px 70px;

        p {
            font-size: $font-18;
            line-height: 30px;
            color: $color-font;
            text-align: left;
        }
    }

    .news-detail-header {
        padding: 36px 0;
        border-bottom: $border-primary;
        margin-bottom: 30px;

        h1,
        h5 {
            margin-bottom: 0;
            margin-top: 0;
            text-align: left;
        }

        h5 {
            font-size: $font-20;
            color: $color-light;
            margin-bottom: 10px;
        }
    }
}